```{=html}
<div class="grid">
  <% for (const item of items) { %>
    <% 
      // Clean the path to point to folder URL instead of index.qmd/html
      const cleanPath = item.path.replace(/index\.html$/, '').replace(/index\.qmd$/, '').replace(/\/$/, '') + '/';
    %>

    <div class="g-col-12 g-col-md-6 title-block" <%= metadataAttrs(item) %>>
        <div class="card h-100 border-0 shadow-sm rounded-4 card-hover" style="max-width: 25rem;">
        
            <div class="img-container rounded-top-4 position-relative d-flex justify-content-center">
              <img class= "invert-color" src= <%= item.img %> alt=<%= item.imgAlt %> >
            </div>
          
            <div class="card-body p-2 d-flex flex-column">
              <div class="mb-1">
                <h4 class="card-title fw-bold text-dark mb-0"><%= item.title %></h4>
                <small class="text-primary fw-medium"><%= item.notes %></small>
              </div>
          
              
              <div class="row g-3 mb-4 small text-muted">
                <div class="col-6 d-flex align-items-center">
                  <i class="bi bi-book-half me-2 text-primary"></i> <%= item.docPages %>
                </div>
                <div class="col-6 d-flex align-items-center">
                  <i class="bi bi-filetype-pdf me-2 text-danger"></i> PDF Format
                </div>
                <div class="col-6 d-flex align-items-center">
                  <i class="bi bi-translate me-2 text-info"></i> Ελληνικά
                </div>
                <div class="col-6 d-flex align-items-center">
                  <i class="bi bi-calendar-event me-2 text-warning"></i> 2023 - 2024
                </div>
              </div>
          
              <p class="card-text small flex-grow-1 lh-base">
                <%= item.description %>
              </p>
          
          
              <div class="d-flex flex-md-row flex-column gap-2 pt-2 justify-content-center">
                <a href="https://drive.google.com/file/d/1It24SASMaSL-vJxdryUUL_js1TLPiSYC/view?usp=drive_link" 
                   class="btn btn-outline-primary btn-md" target="_blank">
                  <i class="bi bi-file-earmark-arrow-down me-1"></i> <%= item.previewText %>
                </a>
                <a href="https://drive.google.com/file/d/1It24SASMaSL-vJxdryUUL_js1TLPiSYC/view?usp=drive_link" 
                   class="btn btn-outline-primary btn-md" target="_blank">
                  <i class="bi bi-file-github me-1"></i> <%= item.codeText %>
                </a>
              </div>
            </div>
      </div>
    </div>
  <% } %>
</div>

```