```{=html}
<div class="grid">
  <% for (const item of items) { %>
    <% 
      // Clean the path to point to folder URL instead of index.qmd/html
      const cleanPath = item.path.replace(/index\.html$/, '').replace(/index\.qmd$/, '').replace(/\/$/, '') + '/';
    %>

    <div class="g-col-12 g-col-sm-6 title-block" <%= metadataAttrs(item) %>>
      <div class="card shadow-sm h-100">

          <div class="card-body text-center">
            <div class="mb-3">
              <%= item.svgIcon %>
            </div>
            <h3 class="card-title fw-bold"><%= item.title %></h3>
            <p class="card-text text-muted">
              <%= item.description %>
            </p>
            
            
            
          <% if (!item.links) item.links = []; %>
          <% item.links.unshift({ url: cleanPath, icon: "bi-journal-bookmark", text: "Διάβασε το άρθρο" }); %>
        
          <% for (const link of item.links) { %>
            <a href="<%= link.url %>" class="btn btn-primary btn-md">
              <i class="bi <%= link.icon %>"></i> <%= link.text %>
            </a>
          <% } %>
        </div>

      </div>
    </div>
  <% } %>
</div>

```