```{=html}

<% for (const item of items) { %>
    <%
      // Ensure link points to rendered Quarto article (folder URL)
      const cleanPath =
        item.path
          .replace(/index\.html$/, '')
          .replace(/index\.qmd$/, '')
          .replace(/\/$/, '') + '/';
    %>
    
    <section id="greekelectionsr-data-of-greek-parliament" class="level3">
      <h3 data-anchor-id="greekelectionsr-data-of-greek-parliament">
      <a href="https://stesiam.com/software/" data-original-href="https://stesiam.com/software/"><%= item.title %></a>: <%= item.shortDescr %></h3>
      <div class="grid">
        <div class="g-col-12 g-col-md-3">
          <p><img src= <%= item.image %> class="img-fluid" style="float:left;" alt= <%= item.imageAlt %> ></p>
        </div>
        <div class="g-col-12 g-col-md-9">
          <p><%= item.description %></p>
          <div class="button_wrapper_gallery">
            <a href="<%- cleanPath %>" class="btn  btn-outline-primary btn-rounded" target="_blank" aria-label="Repository of my R package greekElectionsR"><i class="bi bi-journal"></i> <%= item.btnText1 %></a>
            <a href="https://github.com/stesiam/tidytuesday" class="btn  btn-outline-primary btn-rounded" target="_blank" aria-label="Repository of my R package greekElectionsR"><i class="bi bi-github"></i> <%= item.btnText %></a>
          </div>
        </div>
    </div>
</section>
<% } %>
```