```{=html}
<div class="grid gap-4">
    <% for (const item of items) { %>

    <%
      const cleanPath = item.path.replace(/index\.html$/, '').replace(/index\.qmd$/, '').replace(/\/$/, '') + '/';
    %>

    <div class="g-col-12 g-col-md-6">
        <div class="card h-100 d-flex flex-column">
            <div class="img-wrapper">
              <% if (item.image) { %>
                <img src="<%- item.image %>" alt="<%= item["image-alt"] || item.title %>" class="card-img-top">
              <% } %>
            </div>

            <div class="card-body p-4 d-flex flex-column flex-grow-1">
                <div class="d-flex flex-wrap gap-1 mb-2">
                  <% if (item.badges && item.badges.length > 0) { %>
                    <% for (const badge of item.badges) { %>
                      <span class="badge badge-custom <%= badge.class %>"><%= badge.label %></span>
                    <% } %>
                  <% } %>
                </div>

                <h3 class="card-title mt-1"><%= item.title %></h3>

                <p class="card-text flex-grow-1"><%= item.description %></p>

                <% if (!item.links) item.links = []; %>
                <% item.links.unshift({ url: cleanPath, icon: "bi-journal-bookmark", text: item.appText }); %>

                <div class="d-flex flex-wrap gap-2 mt-auto pt-2">
                  <% for (const link of item.links) { %>
                    <a href="<%= link.url %>" class="btn btn-primary rounded-pill">
                      <i class="bi <%= link.icon %>"></i> <%= link.text %>
                    </a>
                  <% } %>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>
```